@font-face {
    font-family: bold;
    src: url(/static/fonts/CircularStd-Bold.otf);
}
@font-face {
    font-family: medium;
    src: url(/static/fonts/CircularStd-Medium.otf);
}
@font-face {
    font-family: regular;
    src: url(/static/fonts/CircularStd-Book.otf);
}

html,body {
    font-size: 14px;
}

li {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none !important;
}